{% extends 'core/base.html' %}
{% block title %}Contact{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}
{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Si deseas consultarme por servicio técnico o cualquier solución informática, a continuación mi número de teléfono y correo...</p>
          <br>
          <p><b>Teléfono:</b> +54 (387) 587-1346</p>
          <p><b>Correo:</b> sergio.es0709@gmail.com</p>
          <p><b>Honorarios:</b> $400/Consulta (precio base)</p>
        </div>
      </div>
    </div>
{% endblock %}
